    .body {
      margin-bottom: 50px;
    }
    .video-grid {
      width: 100%;
      align-items: top;
    }
    .thumbnail-row {
      position: relative;
    }
    .thumbnail {
      width: 100%
    }
    .video-time {
      font-family: Roboto, Arial;
      background: black;
      color: white;
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 12px;
      padding: 3px 2px 3px 2px;
      border-radius: 3px;
    }
    .video-info-grid {
      display: flex;
      flex: 1;
    }
    .profile-picture {
      width: 45px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 10px
    }
    .video-info {
      margin-top: 0px;
    }
    .video-title {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 0px;
    }
    .video-author {
      margin-top: 12px;
      margin-bottom: 0px;
      font-size: 14px;
      color: dimgray;
    }
    .video-stats {
      margin-top: 2px;
      font-size: 14px;
      color: dimgray;
    }